.line{
    box-sizing: border-box;
    border-top: 1px solid black;
    min-height: 50px;
    min-width: 300px;
    display: flex;
    margin-top: 2px;
    border-radius: 10px;
    .taskRotate{;
        display: flex;
        flex-grow: 2;
        justify-content: space-between;
    }
    .btn{
        margin-right: 5px;
        align-self: center;
        border: none;
        .rotate{
            height: 30px;
            width: auto;
            &:hover{
                transform: scale(1.5);
                transition: all 0.3s ease-out;

            }
        }
        .checkCompleted{
            margin-left: 7px;
            height: 30px;
            &:hover{
                transform: scale(1.5);
                transition: all 0.3s ease-out;

            }
        }
    }
    .importanceMark{
        width: 30px;
    }
    .tasks{
        display: flex;
        align-items: center;
    }
}
.buttonLine{
    display: flex;
    justify-content: center;
}

